# =========================
# .NET Build Files
# =========================
bin/
obj/
**/bin/
**/obj/

# =========================
# Visual Studio / IDE
# =========================
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs & Temp
# =========================
*.log
*.tmp
*.cache

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment & Secrets
# =========================
.env
secrets.json
appsettings.Development.json
appsettings.Local.json

# =========================
# Frontend / Node
# =========================

node_modules/
txt-output/
dist/
build/
.angular_cache/
# Angular
.angular/
coverage/

# Publish
publish/

# Rider / Resharper
_ReSharper*/
*.DotSettings.user

# Test Results
TestResults/

# Generated WWWRoot uploads
wwwroot/uploads/

# Postman local files
.postman/
# Uploaded media
**/wwwroot/uploads/
**/wwwroot/avatars/